/************* Responsive************/

@media all and (min-width: 320px) {
    header {
        font-size: 3em;
    }
    
    .questionProblem {
      font-size: 2.0em
    }
    
    #start {
        height: 200px;
        width: 200px;
        margin: 100px;
    }

    #submitUserGuess {
        width: 50%;
        margin-left: 25%;
        font-size: 2em;
    }

    .choices {
        font-size: 1em;
        padding: 20px;
        margin: 5%;
    }

    .answer-choices {
        margin: 10px;
        width: 200px;
        height: 200px;
    }
    
    #nextQuestion {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        font-size: 2em;
        margin-top: 10px;
        margin-bottom: 20px
    }

    .response {
        font-size: 2em;
        display: inline-block;
    }
}

@media all and (min-width: 400px) {
    header {
        font-size: 2.5em;
    }

    #start {
        margin: 10%;
        margin-left: 25%;
        width: 50%;
    }

    .answer-choices {
        margin: 8%
    }
    
    .response {
        margin: 40px
    }

    .questionNumber {
        font-size: 2em;
    }
}

@media all and (min-width: 768px) {
    .questionTitle {
        font-size: 3em
    }
    
    header {
        font-size: 5em;
    }
    
    #start {
       height: 350px;
       margin-top: 30%;
    }

    .answer-choices {
        height: 200px;
        width: 200px;
        font-size: 10px;
        margin-left: 12%;
    }

    .response {
        display: block;
        text-align: center;
    }

    .questionNumber {
        font-size: 2em;
    }

    .choices {
        width: 700px;
        margin: 0;
        font-size: 2em;
    }
}
    
@media all and (min-width: 1024px) {
    header {
        font-size: 8em;
    }
        
    #start {
        height: 500px;
        margin-top: 350px;
    }
        
    .choices {
        width: 900px;
        margin: 5%;
    }
        
    .answer-choices {
        height: 225px;
        width: 225px;
        font-size: 30px;
        margin: 0;
    }
        
    .response {
        display: block;
        text-align: center;
        font-size: 3em;
    }
        
    .answerCorrect {
        font-size: 2em;
    }

    .questionNumber {
        font-size: 4em;
    }
}

@media all and (min-width: 1600px) { 
    header {
        font-size:5.5em;
    }

    #start {
        height: 300px;
        width: 300px;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 10p
    }
      
    .choices {
        width: 1500px;
        margin:5%;
        margin-top: 0;;
    }
      
    .answer-choices {
        height: 125px;
        width: 325px;
        font-size: 20px;
        padding: 2%;
        margin: 25px;
    }
        
    .questionTitle {
        margin: 20px;
    }
}