* 
{
    box-sizing: border-box;
    padding: 0;
}

body {
    background: cover;
    background-image: url("https://i.pinimg.com/originals/0f/70/d6/0f70d6f8985b149d23f7784ee6163d5c.jpg");
    background-size: 100% 100%;
    min-height: 1000px;
}

#start-page-title {
    display: block;
    width: 50%;
    height: 25%;
    margin: auto;
    border-radius: 15px;
    padding: 8px;
    background-image: url(chalkboard.jpg);
    font-size: 1.5em;
    text-align: center;
    color: whitesmoke;
}

#intro-page {
    display: block;
    text-align: center;
    width: 60%;
    padding: 10px;
    background-color: black;
    border-radius: 25px;
    margin: auto;
    font-size: 1em;
    color: whitesmoke;
  }

#start-page-button {
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    font-size: 2em;
    font-weight: bold;
    background-color: grey;
    color: whitesmoke;
}

#final-page {
    display: block;
    width: 75%;
    min-width: 525px;
    height: 25%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.5em;
    color: orangered;
    font-weight: bold;
    text-align: center;
}

#feedback-page {
    display: block;
    width: 75%;
    min-width: 525px;
    height: 25%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 25px;
    padding: 10px;
    font-size: 1.5em;
    color: orange;
    text-align: center;
    font-weight: bold;
}

#question {
    display: block;
    width: 75%;
    min-width: 525px;
    height: 25%;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 25px;
    padding: 10px;
    background-color: midnightblue;
    font-size: 1.3em;
    color: whitesmoke;
}

#js-form {
  display: block;
  width: 75%;
  min-width: 525px;
  margin-top: 5%;
  margin-left: 10%;
  border-radius: 25px;
  padding: 10px;
  background: url("Panda.jpg");
  font-size: 1em;
  font-weight: bold;
  color: orangered;
}

fieldset {
  border: none;
}

span {
  word-wrap: break-word;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#js-restart-button {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    background-color: grey;
    color: whitesmoke;
}

#js-next-button {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    background-color: grey;
    color: whitesmoke;
}

#js-submit-button {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: bold;
    background-color: grey;
    color: whitesmoke;
}

#status-bar {
    display: block;
    min-height: 50px;
    min-width: 100px;
    max-width: 200px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    margin-left: 3%;
    font-size: 1em;
    border: none;
    background-color: black;
    color: whitesmoke;
    border-radius: 10px;
    padding: 0.5em 1em;
    width: 60%;
}